server:
  error:
    include-stacktrace: on_param

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/anime?useSSL=false&createDatabaseIfNotExist=TRUE&allowPublicKeyRetrieval=TRUE&useTimezone=TRUE&serverTimezone=UTC
    username: root
    password: root
    platform: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: update
      show-sql: true
